<h1>Sign in Here!</h1>
<%= form_tag login_path do%>
<%= label_tag :username %>
<%= text_field_tag :username, nil, placeholder: "username" %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag("Get in here!") %>
<% end %>
