<%= form_tag user_posts_url(@current_user), class: "boom"  do |p| %>
<%= label_tag :title %>
<%= text_field_tag :title, nil, placeholder: "title"%>
<p><%= label_tag :content %></p>
<p><%= text_area_tag :content, nil, rows: 20, cols: 40, placeholder: "content"%></p>
<%= submit_tag "Submit Post" %>
<% end %> 
